/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el h1 en todas las páginas */
h1 {
    color: white;
    font-family: "Gowun Batang", serif;
    text-align: center;
    font-size: 30px;
}

/* Estilos para el menú de navegación */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Gowun Batang", serif;
    display: inline-block;
    font-size: 20px;
}

nav ul li a img {
    max-width: 100px;
    max-height: 50px;
}

/* Estilos para el pie de página */
footer {
    background-color: #FFE4C9;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

.icon {
    width: 30px;
    height: auto;
}

/* Estilos para las imágenes en el pie de página */
footer a .correo {
    max-width: 60px;
    max-height: 40px;
}

footer a .instagram {
    max-width: 90px;
    max-height: 60px;
}

/* Estilos para la página de inicio */
.index-body {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url('../assets/img/fondo/fondo-2.png');
    background-size: cover;
    background-position: center; /* 30% */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Estilos específicos para la página de contacto */
.contacto-body {
    background-color: #FFE4C9; /* Esto establece el color de fondo */
    color: black; /* Esto establece el color del texto */
}

.contact-info {
    display: flex;
}

.logo-container {
    margin-right: 100px; /* Ajusta el margen según tu diseño */
}

.right-logo {
    float: right;
    margin-left: 100px;
}

.mis-trabajos {
    background-color: #FFE4C9;
}

/* .main-trabajos,
.main-recursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.imagen-retratos,
.imagen-musica,
.imagen-presets,
.imagen-cursos {
    max-width: 400px;
} */

.main-recursos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
}

.imagen-presets, .imagen-cursos {
    width: 50%;
    height: auto;
    max-width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.imagen-presets:hover,
.imagen-cursos:hover {
    filter: grayscale(0%);
}

nav ul li {
    display: inline;
    text-align: center;
    padding: 3rem;
}

.h1-index {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: "Gowun Batang", serif;
    white-space: nowrap;
}

.grid-mi {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin-top: 5%;
}

.img-mi {
    width: 400px;
    grid-column: 1/1;
}

.h1-mi {
    grid-column: 2/2;
}

.p-mi {
    grid-column: 3/3;
    grid-row: 1 / span 2;
}

.main-contacto {
    margin-top: 15%;
}

.nav{
    background: #FFE4C9;
    height: 80px;
    color: #fff;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
}
.nav__logo {
    font-size: 1.5em;
    font-weight: 900;
}

.nav__label, .nav__input {
    display: none;
}


.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item {
    color: #fff;
    text-decoration: none;
    --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
    
}

.nav__item::after{
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav__item:hover{
    --clippy:polygon(0 1%, 100% 0, 100% 100%, 0 100%);
}

.nav__input:checked + .nav__menu{
    background-color: #FFE4C9;
}

/* Media Queries */


@media (max-width: 768px) {
    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    
    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }
}


@media (max-width: 425px) {
    
}